.about-page {
  min-height: 100vh;
    background: linear-gradient(135deg, #370941, #1b263b); /* cool gradient background */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.about-box {
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 50px;
  color: white;
  text-align: center;
  max-width: 700px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

.about-box h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.about-box p {
  font-size: 18px;
  color: #eaeaea;
  line-height: 1.6;
}
