.account-page {
  min-height: 100vh;
    background: linear-gradient(135deg, #370941, #1b263b); /* cool gradient background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-box {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px 60px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.account-box h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.account-info {
  text-align: left;
  margin-bottom: 20px;
}

.account-info p {
  margin: 10px 0;
  color: #ddd;
}

button {
  background: linear-gradient(90deg, #7209b7, #f72585);
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}
