.course-cards {
    display: flex;
    flex-direction: row !important;
    gap: 20px;
    flex-wrap: wrap;
}

.course-card {
    width: 200px;
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.35);
}

.course-image {
    width: 100%;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
}

.course-title {
    color: #fff;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}
