.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    background: linear-gradient(to right, rgba(30,30,30,0.85), rgba(50,0,50,0.85));
  padding: 30px;
}

.auth-container {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 40px;
  width: 370px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  animation: fadeIn 0.8s ease;
}

.auth-container h2 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 26px;
}

.auth-container p {
  color: #f9f8f8;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}

.auth-container input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(238, 238, 238, 0.2);
  color: #fff;
}

.auth-container button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #7209b7, #f72585);
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.2s, opacity 0.3s;
}

.auth-container button:hover {
  transform: scale(1.03);
  opacity: 0.9;
}

.redirect-text {
  margin-top: 20px;
  font-size: 14px;
}

.redirect-text a {
  color: #ff8ad6;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
